$white: white;
$black: black;
$lightGrey: rgb(232 232 232);
$primary: #cc0066;
$textFocus: #01d0d3;
$error: rgb(220, 30, 30);

$dosis: "Dosis", sans-serif;

//Font-size
$font-big: 1.8rem;
$font-verybig: 2rem;
$font_regular: 1.6rem;
$font_medium: 1.4rem;
$font_small: 1.2rem;
$font_verysmall: 1rem;
$font-tiny: 0.8rem;
$font_comment: 1.32rem;
$font-modal-location: 1rem;
$font_verylarge: 3rem;
