@import "styles/variables.scss";
@import "styles/mixins.scss";

.dropdown {
  background-color: white;
  position: relative;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    padding: 1rem 2rem;
    color: white;
    font-size: $font_medium;
    width: 100%;
    cursor: pointer;
  }

  &__list {
    background-color: $lightGrey;
    position: absolute;
    z-index: 1;
    width: 100%;
    &__option {
      padding: 1rem;
      font-size: $font_small;

      &:hover {
        background-color: $primary;
        color: white;
        cursor: pointer;
      }
    }
  }
}
