@import "styles/variables.scss";
@import "styles/mixins.scss";

.header {
  width: 100%;
  box-shadow: 0 8px 6px -6px #d6d6d6;
  height: 7rem;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;

  &__headerWrapper {
    margin: 1rem auto;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 80%;

    &__logo {
      width: 10rem;
      height: 5rem;
      cursor: pointer;
    }

    &__navWrapper {
      align-self: end;
    }
    .navWrapper {
      &__list {
        display: flex;
        margin-left: 2rem;

        &__link {
          margin-left: 3rem;
          list-style: none;
          font-size: $font_medium;
          font-weight: bold;
          text-decoration: none;
          color: rgb(49, 49, 49);
        }

        &__activeLink {
          color: red;
        }
      }
    }

    &__cartAuth {
      justify-self: end;
    }

    .cartAuth {
      &__auth {
        display: flex;
        justify-content: space-between;
        font-size: $font_small;
        font-weight: bold;
        &__login {
          text-decoration: none;
          color: black;
        }

        &__register {
          margin-left: 1rem;
          text-decoration: none;
          color: black;
        }
      }

      &__cart {
        cursor: pointer;
        position: absolute;
        @include flexCenter;
        bottom: 0;
        background-color: $lightGrey;
        padding: 0.8rem 2rem;
        margin-left: -1.5rem;

        &__img {
          width: 2rem;
        }

        &__count {
          margin-left: 0.5rem;
          font-weight: bold;
        }
      }
    }
  }
}

li {
  list-style: none;
}

@media only screen and (max-width: 960px) {
  .header {
    &__headerWrapper {
      width: 100%;
      margin: 1rem 0;
      padding: 0 2rem;

      &__navWrapper {
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .header {
    height: 6rem;
    &__headerWrapper {
      &__logo {
        height: 90%;
      }
      &__navWrapper {
        li {
          display: none;
        }
      }

      .cartAuth {
        &__auth {
          li {
            display: none;
          }
        }
        &__cart {
          right: 0;
          height: 100%;
          &__img {
            width: 3rem;
          }
          &__count {
            font-size: $font_small;
          }
        }
      }
    }
  }
}
